.custom-shape-divider-top-1636560905 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1636560905 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 169px;
}

.custom-shape-divider-top-1636560905 .shape-fill {
    fill: #CCCCCC;
}