body{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQINx69r1kWQrjm6eWTs2cgLsn9i45p10BpaQ&usqp=CAU)no-repeat fixed;
     -webkit-background-size:cover;
      -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
}